
    <div class="container d-flex">
        <div class="item">
            
        </div>
        <div class="item">
            <a >
                <img src="https://rukmini.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6 [routerLink]="['/electronics']">Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a >
                <img  src="https://rukmini.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
                <h6 [routerLink]="['/fashion']">Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a >
                <img style="width: 58px; margin-top: 5px;" src="https://th.bing.com/th/id/OIP.sXTjOdAt_s6D8GoB7jYrKgHaHr?w=187&h=194&c=7&r=0&o=5&pid=1.7"alt=>
                <h6 [routerLink]="['/jewellary']">Jewellery</h6>
            </a>
        </div>

        <h6 class="div" [routerLink]="['/login']"  ><img style="width: 50px; margin-top: 5px;" src="https://th.bing.com/th/id/OIP.0mrqOxepIamnbyCNaGxOqAHaHj?w=185&h=189&c=7&r=0&o=5&pid=1.7"alt=> Logout</h6>
    </div>


            
<div class="container">
            
    <div class="row">

        <ng-container *ngFor="let item of productdata ">

       <div >

                <img class="img" src="{{item.images}}" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                

                <p><strong>Price:</strong>{{item.price}}</p>

                <button class="btn btn-dark" (click)=addtocart(item)>Add to Cart</button> 

                </div>

            </ng-container>

               

               

   

            </div>

        </div>

    

        
                