.item img {
    width: 64px;
}
.item{
    margin: 0px 15px;
    text-align: center;
}
.item a:hover {
    color:blue;
}
.img{
 
    width: 250px;

    height: 250px;


}

.img:hover{

   transform: scale(1.1);
   


}
