<header>
  
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 40px;" class="fas fa-shipping-fast">
       
        </i>
        <strong style ="font-size: 30px;">GO kART</strong>
        
        

      </div>
      
      <button routerLink="carts"class="btn btn-secondary">

        <i style="font-size:30px" class="fas fa-cart-plus" ></i>
        <div style="font-size:10px" class="badge bg-danger">{{totalItem}}</div>
      </button>
      
    </div>
    
</header>
