<!-- <TABLE [align]="pos" class="align">  -->
    
    <div class="container">
        <div class="card">
<p><strong>All other option</strong></p>
<input type="radio" >
<label >UPI</label><br>
<input type="radio" >
<label >Wallets</label><br>
<input type="radio" >
<label >Credit</label><br>
<input type="radio"  >
<label >Net Banking</label><br>
<input type="radio"  >
<label >Cash on Delivery</label><br>
<strong>Address:</strong>
<input type="text" value="enter your address"><br>

<button (click)="sign()"class="btn btn-primary">PLACE ORDER</button><br>
<img class="img" src="assets\payment_badges_2021.png"><br>
<p style=color:green><strong>{{message}}</strong></p>

<!-- </TABLE> -->





